@import url("https://font.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap");
body{
    font-family: var(--paragraph-font);
    padding: 20px;
}
:root{
    --primary-color: #0077B6;
    --secondary-color:#03045E;
    --accent1-color:#00B4D8;
    --accent2-color:#90E0EF;

    --header-font:"Roboto", serif;
    --paragraph-font:"Georgina", serif;

    --nav-background-color:#e0f3da;
    --nav-link-color:#0a0c02;
    --nav-hover-link-color:#CFD2CD;
    --nav-hover-background-color:#A6A2A2;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: rgb(7, 0, 0);
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:  white;
}
header img{
    margin: 20px 50px 20px;
    width: 100px;

}
.header{
    background-color: var(--nav-background-color);
    font-size: 1rem;
    display: flex;
    height: 50px;
    align-self: center;
    padding: 0;
    margin-right: 50px;
}
.header a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;

}
.header a:link,nav a:visited{
    color:var(--nav-link-color);
}
.header a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

h1,h2{
    display: flex;
    justify-content: center;
}
.footer-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    background-color:  wite;
    margin: 20px 0px;
    color: black
}
.footer-item1{
    margin-right: 300px;
}
.footer-item2{
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
}
form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
.reach{
    display: flex;
    justify-content: space-around;
}
.talk{
    background-color: #e8f9fc;
    text-align: center;
    border: 1px rgb(240, 230, 230);
    margin: 10px;
}
.support{
    background-color: #e8fcf8;
    text-align: center;
    border: 1px rgb(240, 230, 230);
    margin: 10px;
    padding-bottom: 10px;
}
h1,h2,p{
    text-align: center;
}
