@import url("https://font.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap");
body{
    font-family: var(--paragraph-font);
    padding: 20px;
}
:root{
    --primary-color: #0077B6;
    --secondary-color:#03045E;
    --accent1-color:#00B4D8;
    --accent2-color:#90E0EF;

    --header-font:"Roboto", serif;
    --paragraph-font:"Georgina", serif;

    --nav-background-color:#e0f3da;
    --nav-link-color:#46632a;
    --nav-hover-link-color:#CFD2CD;
    --nav-hover-background-color:#A6A2A2;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: rgb(245, 241, 241);
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:  #03045E;
}
header img{
    margin: 20px 50px 20px;
    width: 100px;

}
.header{
    background-color: var(--nav-background-color);
    font-size: 1rem;
    display: flex;
    height: 50px;
    align-self: center;
    padding: 0;
    margin-right: 50px;
}
.header a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;

}
.header a:link,nav a:visited{
    color:var(--nav-link-color);
}
.header a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.para1{
    background-image:url(https://www.poconowhitewater.com/wp-content/uploads/2016/03/dam-release-237x175.jpg);
    height: 350px;
}
.parabox{
    display: flex;
    height: 150px;
    padding: 50px;
    background-image:linear-gradient(90deg,red,blue,transparent);
    margin:0px 50px 50px 50px;
    color: white;
}
.parabox img{
    width: 100px;
    height: 100px;
    margin: 20px;
}
h1,h2{
    display: flex;
    justify-content: center;
}
.para2-container{
    background-color: #5c784a;
    color: white;
}
.para2{
    display: flex;
    justify-content: center;
}
.para2 img{
    width: 300px;
    height: 150px;
    margin: 20px;
}
.last{
    background-color: #5c784a;
    color: white;
}
.figureflex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0%;
    margin: 0%;
}
.figureflex img{
    width: 150px;
    height: 100px;
}
figure{
    align-self: center;
}
.footer-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    background-color:  #181a93;
    margin: 20px 0px;
    color: white
}
.footer-item1{
    margin-right: 300px;
}
.footer-item2{
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
}
